# Raw datasets
data/raw/*


# Python
__pycache__/
*.py[cod]
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# Trained models
*.pkl
*.joblib
*.h5
*.keras

# Environment variables
.env

# Generated processed datasets
data/processed/*.csv
